<div class="bg-img" [ngStyle]="{backgroundImage:'url(./assets/architect.jpg)'}">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center  sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class=" h-8 w-auto lg:block" src="assets/avatar.svg" alt="Architect">
          </div>
          <div class=" sm:ml-6  sm:block">
            <div class="flex space-x-4">
              <span class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page">Welcome</span>

            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button"
                  class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <button type="button" (click)="logout()">Déconnexion</button>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div *ngIf="step == 1">
    <app-information-step (firstIsDone)="firstStepDone($event)"></app-information-step>
  </div>

  <div *ngIf="step == 2">
    <app-adequation-formulaire (goBack)="goBack($event)" (goNext)="goNext($event)"></app-adequation-formulaire>
  </div>

  <div *ngIf="step == 3">
    <app-montage-installation-formulaire (goBack)="goBack($event)" (goNext)="goNext($event)"></app-montage-installation-formulaire>
  </div>

  <div *ngIf="step == 4 && !isAddPhoto">
    <app-photos-step [idClient]="idClient" (goBack)="goBack($event)"
                     (goNext)="goNext($event)" (addPhoto)="addPhoto($event)"></app-photos-step>
  </div>

  <div *ngIf="isAddPhoto">
    <app-photo (goBack)="goBack($event)"></app-photo>
  </div>

  <div *ngIf="step == 5">
    <app-formulaire (goBack)="goBack($event)" (goNext)="goNext($event)"></app-formulaire>
  </div>

  <div *ngIf="step == 6">
    <app-conclution (goBack)="goBack($event)" (goHome)="goHome($event)"></app-conclution>
  </div>

</div>
