<div>
  <form [formGroup]="formulaireForm">
    <div class="bigdiv">
      <div>
        <label for="implantation">
          Implantation</label>
        <input
          id="implantation"
          class="fadeIn second"
          formControlName="implantation"
        />
      </div>

      <div>
        <label for="appuisAndCalages">
          Appuis et Calages</label>
        <input
          id="appuisAndCalages"
          class="fadeIn second"
          formControlName="appuisAndCalages"
        />
      </div>

      <div>
        <label for="conception">
          Conception</label>
        <input
          id="conception"
          class="fadeIn second"
          formControlName="conception"
        />
      </div>

      <div>
        <label for="amenagements">
          Amenagements</label>
        <input
          id="amenagements"
          class="fadeIn second"
          formControlName="amenagements"
        />
      </div>

      <div>
        <label for="chargement">
          Chargement</label>
        <input
          id="chargement"
          class="fadeIn second"
          formControlName="chargement"
        />
      </div>

      <div>
        <label for="stabilite">
          Stabilite</label>
        <input
          id="stabilite"
          class="fadeIn second"
          formControlName="stabilite"
        />
      </div>

      <div>
        <label for="comment">
          Comment</label>
        <input
          id="comment"
          class="fadeIn second"
          formControlName="comment"
        />
      </div>



      <div>
        <button (click)="previous()">Précédent</button>
      </div>
      <div>
        <button (click)="next()">Suivant</button>
      </div>
    </div>
  </form>
</div>



