<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center  sm:items-stretch sm:justify-start">
        <div class=" sm:ml-6  sm:block">
          <div class="flex space-x-4">
              <span class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page">Bonjour</span>

          </div>
        </div>
      </div>
      <div class="grid grid-cols-6">
        <div class=" col-span-2 inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button"
                  class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <button type="button" (click)="allProjects()">Mes projet</button>
          </button>
        </div>
        <div class=" col-span-2 inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button"
                  class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <button type="button" (click)="logout()">Déconnexion</button>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="bg-img" [ngStyle]="{backgroundImage:'url(./assets/architect.jpg)'}">
  <div class=" wrapper fadeInDown">
    <div id="formContent">
      <div class="alert alert-warning" *ngIf='invalidChange'>{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf='changeSuccess'>{{successMessage}}</div>

      <p class="text-2xl font-semibold">Changer votre identifiant</p>
      <form [formGroup]="formChangeCredentials">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Nouvelle adresse mail" formControlName="email">
        <div class="grid grid-cols-12">
          <div class="col-span-8">
          <input [type]="show ? 'text' : 'password'" id="password" class="fadeIn third" formControlName="password" name="password" placeholder="Nouveau MDP">
          </div>
          <div class="col-span-2">
          <button (click)="showHide()">{{show ? 'Caché' : 'Montré'}}</button>
          </div>
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-8">
          <input [type]="showConfirm ? 'text' : 'password'" id="confirmPass" class="fadeIn third"
                 formControlName="confirmPassword" name="confirmPass" placeholder="Répéter le mot de passe">
          </div>
          <div class="col-span-2">
          <button (click)="showConfirmHide()">{{showConfirm ? 'Caché' : 'Montré'}}</button>
          </div>
        </div>
        <div class="mt-2"></div>
        <button type="button" (click)=changeCredentials() class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          Changer
        </button>
        <div class="mb-2"></div>
      </form>
    </div>
  </div>
</div>
