<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center  sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class=" h-8 w-auto lg:block" src="assets/avatar.svg" alt="Architect">
        </div>
        <div class=" sm:ml-6  sm:block">
          <div class="flex space-x-4">
              <span class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page">Welcome</span>

          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button"
                class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <button type="button" (click)="allProjects()">Mes projet</button>
        </button>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button"
                class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <button type="button" (click)="logout()">Déconnexion</button>
        </button>
      </div>
    </div>
  </div>
</nav>


<div class="bg-img" [ngStyle]="{backgroundImage:'url(./assets/architect.jpg)'}">
  <div class=" wrapper fadeInDown">
    <div id="formContent">
      <div class="alert alert-warning" *ngIf='invalidChange'>{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf='changeSuccess'>{{successMessage}}</div>

      <p class="text-2xl font-semibold">Changer votre identifiant</p>
      <form>
        <input type="text" id="email" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Nouvelle adresse mail">
        <input [type]="show ? 'text' : 'password'" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="Nouveau mot de passe"><button (click)="showHide()">{{show ? 'Caché' : 'Montré'}}</button>
        <input [type]="showConfirm ? 'text' : 'password'" id="confirmPass" class="fadeIn third" [(ngModel)]="Confirmpassword" name="confirmPass" placeholder="Répéter le mot de passe"><button (click)="showConfirmHide()">{{showConfirm ? 'Caché' : 'Montré'}}</button>
        <!--          <svg *ngIf="show==true" class="w-6 h-6" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>-->
        <!--          <svg *ngIf="show==false" class="w-6 h-6" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path></svg>-->
        <input type="submit" (click)=changeCredentials() class="fadeIn fourth" value="Changer">
      </form>
    </div>
  </div>
</div>
